/* Start Variable */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* End Variable */
/* Start Global rules */
* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* End Global rules */
/* Start Sidebar */
.page {
    min-height: 200vh;
    background-color: #f1f5f9;
}

.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar>h3 {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.sidebar>h3::before,
.sidebar>h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar>h3::before {
    width: 40%;
    height: 2px;
    bottom: -15px;

}

.sidebar>h3::after {
    padding: 5px;
    border-radius: 50%;
    border: 2px solid white;
    bottom: -21px;
}

@media(max-width:767px) {
    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.sidebar ul li a {
    margin-bottom: 15px;
    transition: .3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6
}

.sidebar ul span {
    margin-left: 10px;
    font-size: 14px;
}

@media(max-width:767px) {
    .sidebar {
        width: 65px
    }

    .sidebar>h3 {
        display: flex;
        justify-content: center;
        font-size: 11px;
        margin-bottom: 20px;
    }

    .page h3::before,
    .page h3::after {
        font-size: 10px;
        display: none;
    }

    .page ul li a {
        font-size: 14px;
    }

    .page ul li a span {
        display: none;
    }
}

/* End Sidebar */
/* Start Header */
.content {
    overflow: hidden;
}

.content .header .search i {
    color: var(--grey-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 14px;
}

.content .header .search input {
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 161px;
    transition: 0.3s;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 0;
}

.content .header .search input::placeholder,
.content .header .search input {
    font-size: 13px;
}

.content .header .search input:focus {
    outline: #ccc;
    width: 200px;
}

.content .header .search input:focus::placeholder {
    opacity: 0;
}

.content .header .icons .notification::before {
    content: "";
    position: absolute;
    padding: 5px;
    background-color: red;
    border-radius: 50%;
    top: -7px;
    right: -5px;
}

.content .header .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

/* End Header */
/* Start Content */
.page h1 {
    margin: 20px 20px 40px 20px;
}

.page h1::before,
.page h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0px;
    height: 2.5px;
}

.page h1::before {
    width: 120px;
    background-color: white;
}

.page h1::after {
    width: 40px;
    background-color: black;
}

/* End Content */
/* Start Wrapper */
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}

@media(max-width:767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

/* Start Welcome Widget */

.welcome {
    overflow: hidden;
}

.welcome .intro {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #eee;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.welcome .intro>div>p {
    color: var(--grey-color);
}

.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    padding: 2px;
    border-radius: 50%;
    margin-top: -30px;
    margin-left: 20px;
    box-shadow: 0 0 5px #ddd;
}

.welcome .body {
    display: flex;
    padding: 20px;
    margin: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body div {
    flex: 1;
    text-align: center;
}

.welcome .body div span {
    display: block;
    margin-top: 10px;
    color: var(--grey-color);
    font-size: 14px;
}

.welcome .visit {
    transform: 0.3s;
    margin: 0 15px 15px auto;
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

@media(max-width:767px) {
    .welcome .intro img {
        display: none;
    }

    .welcome .body {
        flex-direction: column;
        gap: 20px;
    }
}

/* End Welcome Widget */

/* Start Draft Widget */

.draft form textarea {
    min-height: 180px;
    resize: none;
}

.draft form input:nth-child(2) {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.draft form .save {
    margin-left: auto;
    cursor: pointer;
}

.draft form .save:hover {
    background-color: var(--blue-alt-color);
}

/* End Draft Widget */

/* Start Target Widget */
.target .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.target .bg-blue,
.details .bg-blue {
    background-color: rgb(0 117 255 / 20%);
}

.target .bg-orange,
.details .bg-orange {
    background-color: rgb(245 158 11 / 20%);
}

.target .bg-green,
.details .bg-orange {
    background-color: rgb(34 197 94 / 20%);
}

.target .details .grogress {
    height: 4px;
}

.target .details .grogress .progress-color {
    height: 4px;
    display: block;
    width: 75%;
    position: relative;
}

.target .details .grogress .green {
    background-color: var(--green-color);
}

.target .details .grogress .progress-color span {
    position: absolute;
    bottom: 25px;
    right: -18px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}

.target .details .grogress .blue,
.target .details .grogress .bg-blue {
    background-color: var(--blue-color);
}

.target .details .grogress .orange,
.target .details .grogress .bg-orange {
    background-color: var(--orange-color);
}

.target .details .grogress .green,
.target .details .grogress .bg-green {
    background-color: var(--green-color);
}

.target .details .grogress .progress-color::after {
    content: "";
    position: absolute;
    border-width: 8px;
    border-style: solid;
    bottom: 8px;
    right: -8px;
}


.target .details .grogress .blue::after {
    border-color: var(--blue-color) transparent transparent;
}

.target .details .grogress .green::after {
    border-color: var(--green-color) transparent transparent;
}

.target .details .grogress .orange::after {
    border-color: var(--orange-color) transparent transparent;
}

/* End Target Widget */

/* Start Tickets widget */
/* .tickets .boxs {} */

.tickets .boxs .box {
    width: calc(50% - 10px);
    border: 1px solid #ccc;
    border-radius: 10px;
}

.tickets .boxs .box i {
    font-size: 26px;
}

@media(max-width:767px) {
    .tickets .boxs .box {
        width: 100%;
    }
}

/* End Tickets widget */

/* Start News Widget */

.news .new-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.news .new-row img {
    width: 100px;
    margin-right: 15px;
    border-radius: 6px;
}

.news .new-row .info {
    flex: 1;
}

.news .new-row .info h3 {
    margin: 0 0 6px;
    font-size: 16px;
}

@media(max-width:767px) {
    .news .new-row {
        display: block;
    }

    .news .new-row .label {
        margin: 10px auto;
    }

}

/* End News Widget */
/* Start Tasks Widget */

.tasks .task-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.tasks .task-row .info {
    flex: 1;
}

.tasks .task-row .delete:hover {
    cursor: pointer;
    color: red;
    transition: 0.3s;
}

.tasks .done {
    opacity: 0.3;
}

.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}

/* End Tasks Widget */
/* Start Latest Upload Widget */
.latest-upload img {
    width: 40px;
    height: 40px;
}

.latest-upload ul li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

/* End Latest Upload Widget */

/* Start Last Project Widget */
.last-project ul::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 95%;
    background-color: var(--blue-color);
    left: 11px;
}

.last-project ul li::before {
    content: "";
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}

.last-project ul .done::before {
    background-color: var(--blue-color);
}

.last-project ul .current::before {
    animation: change-color 0.8s infinite alternate;
}

.last-project img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
    opacity: 0.1;
}

/* End Last Project Widget */
/* Start Reminders Widget */
.reminders ul li>span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
}

.reminders ul li .blue {
    border-left: 2px solid var(--blue-color);
}

.reminders ul li .green {
    border-left: 2px solid var(--green-color);
}

.reminders ul li .orange {
    border-left: 2px solid var(--orange-color);
}

.reminders ul li .red {
    border-left: 2px solid var(--red-color);
}

/* End Reminders Widget */

/* Start Latest Post */
.latest-post .avatar {
    width: 48px;
    height: 48px;
}

.latest-post .post-content {
    min-height: 140px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    line-height: 1.8;
    text-transform: capitalize;
}

/* End Latest Post */

.social-media i,
.social-media img {
    position: absolute;
    width: 52px;
    color: white;
    left: 0;
    transition: 0.3s;
}

.social-media img {
    padding: 8px 5px 5px 5px;
}

.social-media i:hover {
    transform: rotate(5deg);
}

.social-media span {
    padding-left: 70px;
}

.social-media .github {
    background-color: rgb(51 51 51 / 20%);
    color: #333;
}

.social-media .github i,
.social-media .github a {
    background-color: #333;
}

.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1da1f2;
}

.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}

.social-media .freelancer {
    color: black;
    background-color: rgb(0 0 0 / 20%);
}

.social-media .freelancer img,
.social-media .freelancer a {
    background-color: black;
}

.social-media .linked-in {
    background-color: rgb(0 119 181 / 20%);
    color: #1da1f2;
}

.social-media .linked-in i,
.social-media .linked-in a {
    background-color: #0077b5;
}

/* Start Project Table */
.projects table {
    border-spacing: 0;
    width: 100%;
    min-width: 1000px;
}

.projects .responsive-table {
    overflow-x: auto;
}

.projects table thead {
    background-color: #eee;
    font-weight: bold;
}

.projects table tr td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: 0.3s;
}

.projects table tbody tr:hover td {
    background-color: #faf7f7;
}

.projects table tr td img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.projects table tr td img:not(:first-child) {
    margin-left: -20px;
}

/* End Project Table */

/* End Wrapper */

/* Start Settings Page */
.toggle-checkbox {
    display: none;
}

.toggle-switch {
    width: 78px;
    height: 32px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.toggle-switch:before {
    font-family: 'Font Awesome 6 Free';
    content: "\f00d";
    font-weight: 900;
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: red;
    color: white;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--blue-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
    content: "\f00c";
    left: 50px;
    background-color: white;
    color: var(--blue-color);
}

.settings-page textarea {
    min-height: 160px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 13px;
}

.settings-page .email {
    display: inline-flex;
    width: calc(100% - 80px);
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #bbb;
    margin-right: 10px;
}

.settings-page .sec-box:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.settings-page .social-box i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: 0.3s;
}

.settings-page .social-box input {
    width: 100%;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius: 0 6px 6px 0;
}

.social-info .twitter:focus-within i {
    color: #1da1f2;
}

.social-info .facebook:focus-within i {
    color: #1877f2;
}

.social-info .linkedin:focus-within i {
    color: #0077b5;
}

.social-info .youtube:focus-within i {
    color: #ff0000;
}

/* Start Widgets Control */
.settings-page .widgets-control input[type="checkbox"] {
    display: none;
}

.settings-page .widgets-control label {
    position: relative;
    padding-left: 30px;
}

.settings-page .widgets-control label::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
    border-radius: 4px;
    left: 0px;
}

.settings-page .widgets-control label::after {
    font-family: "font awesome 6 free";
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    left: 0px;
    top: 0;
    background: var(--blue-color);
    color: white;
    transform: scale(0) rotate(360deg);
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: 0.3s;
}

.settings-page .widgets-control input[type="checkbox"]:checked+label::after {
    transform: scale(1);
}

/* End Widgets Control */

/* Start Backup Manager */

.backup-manager .date input {
    display: none;
}

.backup-manager .date label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.backup-manager .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -11px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
}

.backup-manager .date input[type="radio"]:checked+label::before {
    border-color: var(--blue-color);
}

.backup-manager .date label::after {
    transform: scale(0);
    content: "";
    position: absolute;
    left: 4.8px;
    top: 3px;
    width: 12px;
    height: 12px;
    background: var(--blue-color);
    border-radius: 50%;
    transition: 1.3s;
}

.backup-manager .date input[type="radio"]:checked+label::after {
    transform: scale(1);
}

.backup-manager .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.backup-manager .servers .server {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.backup-manager .servers input {
    display: none;
}

.backup-manager .servers input:checked+div {
    border: 1px solid var(--blue-color);
}

.backup-manager .servers label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    cursor: pointer;
}

@media(max-width:767px) {
    .backup-manager .servers {
        flex-wrap: wrap;
    }
}

/* End Backup Manager */


/* End Settings Page */

/* Start Animation */
@keyframes change-color {
    form {
        background-color: white;
    }

    to {
        background-color: var(--blue-color);
    }
}

/* End Animation */